In [9]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import types
from pyspark.sql import functions as F

### Download files

In [2]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz

--2024-03-04 00:18:47--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T001847Z&X-Amz-Expires=300&X-Amz-Signature=a795e63ce3c1672eb5d0492ba5f50f3255f68e1df1b8bbc60cf8963315dc8a88&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-03-04 00:18:47--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/efdfcf82-6d5c-44d1-a138-4e8ea3c3a3b6?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240304%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240304T001847Z&X-Amz-Expires=300&X-Amz-Signature=a795e63ce3c1672eb5d0492ba5f50f3255f68e1df1b8bbc60cf8963315dc8a88&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhv_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19375751 (18M) [application/octet-stream]
Saving to: ‘fhv_tripdata_2019-10.csv.gz’

fhv_tripdata_2019-1 100%[===================>]  18.48M  52.2MB/s    in 0.4s

2024-03-04 00:18:47 (52.2 MB/s) - ‘fhv_tripdata_2019-10.csv.gz’ saved [19375751/19375751]

In [6]:
! zcat fhv_tripdata_2019-10.csv.gz | head -n 3

dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,,B00009
B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,,B00013

gzip: stdout: Broken pipe

In [7]:
! zcat fhv_tripdata_2019-10.csv.gz | wc -l

1897494

### Init Spark Session

In [10]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/03/04 00:23:58 WARN Utils: Your hostname, codespaces-fb2ab8 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/03/04 00:23:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/04 00:23:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Question 1: Install Spark and PySpark

Answer: 3.3.2

In [50]:
spark.version

'3.3.2'

### Load Data

In [11]:
df = spark.read \
    .option("header", "true") \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [15]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: string (nullable = true)
 |-- dropOff_datetime: string (nullable = true)
 |-- PUlocationID: string (nullable = true)
 |-- DOlocationID: string (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

### Create Schema

In [28]:
df_pd = pd.read_csv('fhv_tripdata_2019-10.csv.gz', compression='gzip', nrows=2)
print(df_pd.shape)
print(df_pd.dtypes)

(2, 7)
dispatching_base_num       object
pickup_datetime            object
dropOff_datetime           object
PUlocationID                int64
DOlocationID                int64
SR_Flag                   float64
Affiliated_base_number     object
dtype: object

In [29]:
df_pd.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00009,2019-10-01 00:23:00,2019-10-01 00:35:00,264,264,NaN,B00009
1,B00013,2019-10-01 00:11:29,2019-10-01 00:13:22,264,264,NaN,B00013

In [30]:
df_pd.iteritems = df_pd.items
spark.createDataFrame(df_pd).schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropOff_datetime', StringType(), True), StructField('PUlocationID', LongType(), True), StructField('DOlocationID', LongType(), True), StructField('SR_Flag', DoubleType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [37]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropOff_datetime', types.TimestampType(), True),
    types.StructField('PUlocationID', types.IntegerType(), True),
    types.StructField('DOlocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True),
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

### Reload Data with Schema

In [38]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhv_tripdata_2019-10.csv.gz')

In [39]:
df.count()

1897493

In [52]:
df.show(n=10)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02653|2019-10-08 13:53:21|2019-10-08 13:56:24|         264|         247|   null|                B02653|
|              B00837|2019-10-12 08:20:51|2019-10-12 08:32:35|         264|         264|   null|                B00837|
|              B01315|2019-10-05 15:13:04|2019-10-05 15:19:48|         264|          74|   null|                B01315|
|              B00789|2019-10-23 00:56:36|2019-10-23 01:33:24|         264|         264|   null|                B00789|
|              B00937|2019-10-18 11:03:47|2019-10-18 11:22:46|         264|          75|   null|                B00937|
|              B03060|2019-10-18 16:31:09|2019-10-18 16:35:05|         264|          22|   null|                B02825|
|              B03033|2019-10-20 02:59:38|2019-10-20 03:04:52|         264|          36|   null|                B03033|
|              B01231|2019-10-11 13:19:24|2019-10-11 14:04:19|         264|          17|   null|                B02872|
|              B02688|2019-10-02 10:59:00|2019-10-02 11:34:46|         264|         107|   null|                B02688|
|              B01029|2019-10-10 14:45:00|2019-10-10 15:47:00|         264|         264|   null|                B01029|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 10 rows

In [53]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropOff_datetime: timestamp (nullable = true)
 |-- PUlocationID: integer (nullable = true)
 |-- DOlocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

### Question 2: FHV October 2019


- Repartition the Dataframe to 6 partitions and save it to parquet.
- Find the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)

Answer: 6MB

In [41]:
df = df.repartition(6)

In [42]:
df.write.parquet('fhv/2019/10/')

In [43]:
! ls -lh ./fhv/2019/10/

total 39M
-rw-r--r-- 1 codespace codespace    0 Mar  4 00:39 _SUCCESS
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00000-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00001-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00002-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00003-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00004-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet
-rw-r--r-- 1 codespace codespace 6.4M Mar  4 00:39 part-00005-e97bac8e-c6bb-4de6-ad22-c1b5f0d7e71a-c000.snappy.parquet

### Register SQL table

In [47]:
df.registerTempTable('trips_data')

/home/codespace/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

### Question 3: Count records

How many taxi trips were there on the 15th of October? Consider only trips that started on the 15th of October.

Answer:  62610

In [77]:
df.filter((df.pickup_datetime >= '2019-10-15 00:00:00') & (df.pickup_datetime < '2019-10-16 00:00:00')).count()

62610

In [74]:
spark.sql("""
    SELECT
        count(1)
    FROM
        trips_data
    WHERE 
         pickup_datetime >= '2019-10-15 00:00:00'
         AND pickup_datetime < '2019-10-16 00:00:00'
""").show()

+--------+
|count(1)|
+--------+
|   62610|
+--------+

### Question 4: Longest trip for each day

Answer: 631,152.50 Hours

In [58]:
spark.sql("""
    SELECT
        dropOff_datetime, 
        pickup_datetime,
        (bigint(dropOff_datetime) - bigint(pickup_datetime)) / (60*60) AS duration_hr
    FROM
        trips_data
    ORDER BY duration_hr DESC
    LIMIT 5
""").show()

+-------------------+-------------------+-----------------+
|   dropOff_datetime|    pickup_datetime|      duration_hr|
+-------------------+-------------------+-----------------+
|2091-10-11 18:30:00|2019-10-11 18:00:00|         631152.5|
|2091-10-28 09:30:00|2019-10-28 09:00:00|         631152.5|
|2029-11-01 00:13:00|2019-10-31 23:46:33|87672.44083333333|
|2027-10-01 21:45:23|2019-10-01 21:43:42|70128.02805555555|
|2020-10-18 00:00:00|2019-10-17 14:00:00|           8794.0|
+-------------------+-------------------+-----------------+

### Question 5: User Interface

Answer: Spark’s User Interface which shows the application's dashboard runs on port 4040

### Load Zone Data

In [61]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-04 01:05:37--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.196.184, 52.217.99.182, 52.217.133.136, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.196.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-04 01:05:37 (55.9 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [63]:
!head -n 5 taxi+_zone_lookup.csv

"LocationID","Borough","Zone","service_zone"
1,"EWR","Newark Airport","EWR"
2,"Queens","Jamaica Bay","Boro Zone"
3,"Bronx","Allerton/Pelham Gardens","Boro Zone"
4,"Manhattan","Alphabet City","Yellow Zone"

In [65]:
zone_df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [68]:
zone_df.show(n=5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [66]:
zone_df.write.parquet('zones')

In [67]:
zone_df.registerTempTable('zone')

### Question 6: Least frequent pickup location zone

Using the zone lookup data and the FHV October 2019 data, what is the name of the LEAST frequent pickup location Zone?

Answer: Jamaica Bay

In [72]:
spark.sql("""
    SELECT
        Zone pickup_zone, COUNT(1) cnt
    FROM
        trips_data a
        INNER JOIN zone b
            ON a.PUlocationID = b.LocationID
    GROUP BY Zone
    ORDER BY cnt ASC
    LIMIT 5
""").show()

+--------------------+---+
|         pickup_zone|cnt|
+--------------------+---+
|         Jamaica Bay|  1|
|Governor's Island...|  2|
| Green-Wood Cemetery|  5|
|       Broad Channel|  8|
|     Highbridge Park| 14|
+--------------------+---+